
.last-section{
    background-image: url("../images/signup-background.svg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-evenly;
}
.last-section .text-area{
    justify-content: center;
    width: 100%;
    margin: 16px;
    color: #FB1B1C;
}
.last-section h2{
    margin: 0% 8%;
    color: #FB1B1C;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
}

.last-section h3{
    
    color: #FB1B1C;
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;
    margin: 0% 8%;

}

.last-section .form-signup .normal-signup{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.last-section .form-signup{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 19%), 0 10px 12px 0 rgb(0 0 0 / 20%);
    width: 70%;

}
.last-section .form-signup h2{
    color: #FB1B1C;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    margin: 2% 0% 2%;
    font-size: 1.5vw;
}
.last-section .form-signup .form-input {
    font-family: 'Cairo', sans-serif;
    font-style: normal;
    font-weight: bold;
    background-color: #F4F5F7;
    color: black;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    width :100%;
    padding: 10px;
    background: #F4F5F7;
    border: 1px solid #E6E6EB;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 4px;
}

.last-section .form-signup .normal-signup-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FB1B1C;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: .7rem;
    border: 1px solid #E6E6EB;
    box-sizing: border-box;
    border-radius: 6px;
    width :100%;
    padding: 1% 3%; 
    margin-top: 8px;
}

.last-section .form-signup .form-social-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.last-section .form-signup .form-social-buttons .button-1{
    margin: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #F4F5F7;
    border: 1px solid #E6E6EB;
    border-radius: 6px;
    color: #777777;
    font-style: normal;
    font-weight: bold;
    font-size: .5rem;
    padding: 2%;
    cursor: pointer;
    width: 100%;
}
.last-section .form-signup .form-social-buttons .button-1 img{
    margin: .5% 8% ;
}

@media (max-width: 600px) {
    .last-section{
        background-image: none;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        align-content: center;
        margin-top: 40%;
    }
    .last-section .text-area{
        font-size: 7vw;
        margin: 0;
    }
    .last-section .text{
        color: #FB1B1C;
        font-style: normal;
        font-weight: bold;
        font-size: 7vw;
        text-align: right;
    }
    
    .last-section h3{
        
        color: #FB1B1C;
        font-style: normal;
        font-weight: bold;
        margin: 10% 0%; 
        font-size: 3vw;
        text-align: center;
        text-justify: center;
    
    }
    .last-section .form-signup{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        background-color: white;
        width: 100%;
    
    }
    .last-section .form-signup h2{
        color: #FB1B1C;
        font-style: normal;
        font-weight: bold;
        text-align: center;
        margin: 5% 0% 2%;
        font-size: 5vw;
    }

    
    .last-section .form-signup .form-social-buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-content: center;
        align-items: center;
        margin-top: 2%;
    }
    .last-section .form-signup .form-social-buttons .button-1{
        margin: 2% ;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: #F4F5F7;
        border: 1px solid #E6E6EB;
        box-sizing: border-box;
        border-radius: 6px;
        height: auto;
        font-family: 'Cairo', sans-serif;
        color: #777777;
        font-style: normal;
        font-weight: bold;
        line-height: 16px;
        width: 100%;
        padding: 2%;
    }
    .last-section .form-signup .form-social-buttons .button-1 img{
        margin: .5% 8% ;
    }
    
    
}