@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&amp;display=swap');


/* <!--future section  --> */
/* .slideshow-section{
    display: flex;
    flex-direction: column;
    align-items: center

}
.slideshow-section h1{
    color: #FB1B1C;
    font-style: normal;
    font-weight: bold;
    font-size: 4vh;

    margin: 2% 0%;
}

.slideshow-section .mySlides{
    display: flex;
    flex-direction: row;
    margin: 0% 8%;
    align-items: center;
}

.slideshow-section .mySlides .info{
    margin: 0% 8%;
}
.slideshow-section .mySlides .info h1{
    font-size: 3vh;
}
.slideshow-section .mySlides .info h2{
    font-size: 2.5vh;
}
.slideshow-section .mySlides .info p{
    font-size: 2vh;
}
.slideshow-section .mySlides  .video{
    width: 50%;
    height: 30vh;
}
.slideshow-section .mySlides .slider-button{
    width: 8%;
    height: 8vh;
    margin: 0 5%;
    border : none;
    background-color: transparent;

}
.slideshow-section .mySlides .slider-button:hover{
    opacity: .7;

} */





/* ###########################//mobile and tablet *################################################*/
@media (max-width: 600px) {
    /* <!--future section  --> */
    /* .slideshow-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: nowrap;
        text-align: center;
    
    }
    .slideshow-section h1{
        color: #FB1B1C;
        font-style: normal;
        font-weight: bold;
        font-size: 4vh;
        margin-top: 5%;
    }
    
    .slideshow-section .mySlides{
        display: flex;
        flex-direction: column;
        margin: 8% 8%;
        align-items: center;
    }
    
    .slideshow-section .mySlides .info{
        margin: 8% 8%;
    }
    .slideshow-section .mySlides .info h1{
        font-size: 3vh;
    }
    .slideshow-section .mySlides .info h2{
        font-size: 2.5vh;
    }
    .slideshow-section .mySlides .info p{
        font-size: 2vh;
    }
    .slideshow-section .mySlides  .video{
        width: 70%;
        height: 20vh;
    }
    .slideshow-section .mySlides .slider-button{
        width: 100%;
        height: 18vh;
        margin: 0% 0%;
        border: none;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    
    }
    .slideshow-section .mySlides .slider-button:hover{
        opacity: .7;
    
    }
     */
    

    
}


