footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EBEBEB;
    height: 20vw;
    margin-top: 10%;
}
footer .logo-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer .footer-logo{
    color: #FB1B1C;
    font-style: normal;
    font-weight: bold;
    font-size: 3vh;
    line-height: 16px;
}

footer .privacy-policy{
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: #0166C0;
    
}

footer .login-and-social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
footer .login-and-social .social{
    margin: 0% 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  

footer .social:hover {
    opacity: 0.7;
}
footer .login-and-social .div-social{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
}

footer .login-and-social .div-social h3{
    font-style: normal;
    font-weight: bold;
    font-size: 5vw;
    display: none;
}
footer .login-and-social .div-social .social {
    background: #EBEBEB;
    border:none;
    width: 20%;
}
footer .login-and-social .div-social .social img{
    width: 100%;
}


footer .login-and-social .header-button{
    display: none;
 
}


@media (min-width: 770px) {

    footer{
        height: 10vh;
        width: 100%;
        background-color: #EBEBEB;
    }
    footer .logo-section{
        width: 15%;
        justify-content: space-evenly;
    }
    footer .login-and-social{
        width: 60%;
        flex-direction: row;
        justify-content: flex-end;
    }
    footer .login-and-social .header-button{
        display: block;
    }

    footer .login-and-social .div-social .social {
        width: 5%;
    }
    footer .privacy-policy{
        font-size: 1.5vh;
    }
    footer .login-and-social .div-social{
        display: flex;
        justify-content: flex-end;

    }
    footer .login-and-social .div-social .social {
        width : 5%;
        justify-content: center;
    }
    footer .login-and-social .div-login{
        width: 10%;
    }
    footer .login-and-social .div-login .header-button{
        display: flex;
        background-color: #fb1b1c;
        color: white;
        font-style: normal;
        font-weight: bold;
        font-size: 2vh;
        border: 1px solid #fb1b1c;
        border-radius: 6px;
        text-decoration: none;
        text-align: center;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 1%;
    }

}