footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EBEBEB;
    height: 20vw;
}

footer .logo-section{
    padding: 0% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
footer .logo-section .footer-logo{
    color: #FB1B1C;
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
    font-size: 1.2rem;
}
footer .logo-section .privacy-policy{
    display: block;
    font-size: 11px;
    text-decoration: none;
    color: #0166C0;
}

footer .login-and-social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
}
footer .login-and-social .social{
    margin: 0% 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  

footer .social:hover {
    opacity: 0.7;
}
footer .login-and-social .div-social{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 70%;
}

footer .login-and-social .div-social h3{
    font-style: normal;
    font-weight: bold;
    font-size: 5vw;
    display: none;
    width: 10%;
}
footer .login-and-social .div-social .social {
    background: #EBEBEB;
    border:none;
    
    
}
footer .login-and-social .div-social .social img{
    width: 100%;
}


footer .login-and-social .header-button{
    display: none;
 
}

footer .logo-section .text-section {
    margin: 0% 2%;
}

footer .logo-section .privacy-policy:hover {
    text-decoration: underline;
}


@media (min-width: 600px) {

    footer{
        height: 10vh;
        width: 100%;
        padding-left: 2%;
    }
    footer .logo-section{
        width: 25%;
        padding: 0%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center
    }

    footer .login-and-social{
        width: 60%;
        flex-direction: row;
        justify-content: center;
    }
    footer .login-and-social .header-button{
        display: block;
    }

    footer .login-and-social .div-social .social {
        width: 20%;
    }
    footer .logo-section .privacy-policy{
        font-size: 14px;
    }
    footer .login-and-social .div-social{
        display: flex;
        justify-content: flex-end;
        width: 80%;
        margin-left: 5%;

    }
    footer .login-and-social .div-social .social {
        width: 5%;
        justify-content: center;
        margin: 0% 1%;
        
    }
    footer .login-and-social .div-social .social img{
        width: 90%;
    }
    footer .login-and-social .div-login{
        width: 15%;
    }
    footer .login-and-social .div-login .header-button{
        display: flex;
        background-color: #fb1b1c;
        color: white;
        font-style: normal;
        font-weight: bold;
        font-size: 2vh;
        border: 1px solid #fb1b1c;
        border-radius: 6px;
        text-decoration: none;
        text-align: center;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 5% 5%;
    }

}